<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Arcanum | {{ page.title }}</title>
    <link href="/css/readable.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/solarized_light.css">
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    {% include navbar.html %}
    <div style="padding-left:5%">
    {{ content }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>
